layout {

    focus-ring {
        active-color   "#67bfe4"
        inactive-color "#1a1f23"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67bfe4"
        inactive-color "#1a1f23"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1a1f2370"
    }

    tab-indicator {
        active-color   "#67bfe4"
        inactive-color "#0c678d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67bfe480"
    }
}

recent-windows {
    highlight {
        active-color "#67bfe4"
        urgent-color "#fd4663"
    }
}
