layout {

    focus-ring {
        active-color   "#e46792"
        inactive-color "#27161c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e46792"
        inactive-color "#27161c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#27161c70"
    }

    tab-indicator {
        active-color   "#e46792"
        inactive-color "#8d0c38"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4679280"
    }
}

recent-windows {
    highlight {
        active-color "#e46792"
        urgent-color "#fd4663"
    }
}
